@charset "UTF-8";

.row_c {
    max-width: 1240px;
    margin: 0 auto;
}

.main-bg1 {
    width: 1304px;
    height: 1144px;
    background: url(../img/main_bg1.png) 0 0 no-repeat;
    opacity: 0.3;
    position: fixed;
    left: -150px;
    top: -150px;
    z-index: -999;
}

.main-bg2 {
    width: 1145px;
    height: 1144px;
    background: url(../img/main_bg2.png) 0 0 no-repeat;
    opacity: 0.3;
    position: fixed;
    right: -350px;
    top: -10px;
    z-index: -999;
}

#navi_wrap .h_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
#navi_wrap .border {
    border-bottom: 2px solid #ee2e24;
    border-top: 2px solid #ee2e24;
    background: #fff;
}

#navi_wrap .h_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navi {
    width: 80%;
}

#logo {
    margin-right: 20px;
    padding-top: 16px;
}


/* search */
#navi_wrap .search {
    width: 340px;
    height: 36px;
    margin-top: 20px;
}

.search input {
    width: 265px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    margin: 0px;
    border: 2px solid #ee2e24;
    float: left;
}

.search a {
    width: 51px;
    height: 32px;
    background-color: #ee2e24;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border: 2px solid #ee2e24;
    float: left;
}




/* #navi {
    flex-grow: 1;
} */

.main_navi {
    display: flex;
    justify-content: space-around;
    height: 65px;
}

.main_navi>li {
    width: 16.66%;
    position: relative;
}

.main_navi>li>a {
    display: block;
    text-align: center;
    height: 65px;
    line-height: 65px;
    font-weight: 600;
    color: #000;
    font-size: 17px;
}

.main_navi>li:hover>a {
    color: #ed3024;
}

/* 서브메뉴 스타일 */

#navi .sub_navi {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 999;
    background: #fff;
    border: 2px solid #ed3024;
    border-top: 0;
    transition: 0.3s ease;
}

#navi .sub_navi.active {
    opacity: 1;
    z-index: 999;
}

#navi .sub_navi ul {
    padding: 5px 0;
    /* border-top: 3px solid #aac4e3; */
}

#navi .sub_navi ul li a {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

#navi .sub_navi ul li:hover a {
    color: #ed3024;
}



/* navi오른쪽 메뉴 */
.right_link {
    display: flex;

}

.link_list {
    display: flex;
    margin-right: 13px;
}

.link_list li a {
    padding: 10px;
    font-size: 15px;
}

.menu_trigger {
    position: relative;
    font-size: 0;
    width: 36px;
    height: 22px;
    display: none;
}

.menu_trigger span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #000;
    transition: all 0.4s;
}

.menu_trigger:before,
.menu_trigger:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #000;

}

.menu_trigger:after {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
}

.menu_trigger span:nth-child(1) {
    width: calc(100% - 8px);
}

.menu_trigger span:nth-child(2) {
    top: 50%;
    margin-top: -1px;
}

.menu_trigger span:nth-child(3) {
    top: 100%;
    margin-top: -2px;
    right: auto;
    left: 0;
    width: calc(100% - 8px);
}

.menu_trigger.cross span:nth-child(1) {
    width: 100%;
    transform: translateY(7px) rotate(-45deg);
}

.menu_trigger.cross span:nth-child(2) {
    opacity: 0;
}


.menu_trigger.cross span:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
    width: 100%;
}

.menu_trigger:hover::before,
.menu_trigger:hover::after {
    display: none;
}

.menu_trigger:hover span {
    width: 100%;
}

.menu_trigger.no-after-before::before,
.menu_trigger.no-after-before::after {
    display: none;
}


/* 모바일 네비게이션 /////////////////////// */


#mb_navi_bg {
    display: none;
}

#mb_navi {
    right: -100%;
}



/* 슬라이드 */
:root {
    --swiper-navigation-size: 18px !important;
}

/* .swiper, .swiper-container{
    width: 57%;
} */

.swiper-wrapper.mo{
    display: none;
}
.swiper-button-next,
.swiper-button-prev {
    color: #000 !important;
    background: #fff;
    padding: 5px 8px;
    border-radius: 10px;
}

/* .sw1 {} */
#slide {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.s_left {
    border-radius: 30px;
    width: 65%;

}

.s_rig {
    margin-left: 1%;
    width: 34%;

}

.swiper-slide {
    position: relative;
}

/* .swiper-slide .txt_wrap {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    z-index: 99;
}

.swiper-slide .txt_wrap .txtAni {
  animation: txt_up 2s;
}
@keyframes txt_up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */





/* .swiper-wrapper{

} */
 .swiper.mo{
    display: none;
 }
.swiper-slide img {
    width: 100%;
    height: 100%;
}

/* 현재 페이지 번호  */
.swiper-pagination-current {
    font-size: 17px;
    font-weight: 500;
    color: #ee2e24;
    margin-right: 5px;
}

.swiper-pagination-total {
    margin-left: 5px;
    color: #000;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 11px) !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    left: 47% !important;
    background: #fff;
    border-radius: 13px;
    width: 60px !important;
}

/* sec_01//////////////////////////////////// */

/* .sec01_box {
    /* display: flex;
    justify-content: space-between;
    margin-top: 50px;
} */

#sec_01 {
    overflow: hidden;
}

.sec01_left,
.sec01_rig {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.sec01_left>ul {
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 15px;
    /* background: rgba(211, 239, 238, 0.6); */
}

.sec01_rig {
    margin-top: 20px;
}

.sec01_rig>ul {
    margin-top: 15px;
    border-radius: 10px;
    padding: 0 0 20px 0;
    /* background: rgba(252, 227, 206, 0.6); */
}

.sec01_left h1,
.sec01_rig h1 {
    padding: 10px;
}

.sec01_left h1 {
    color: #000;
    text-align: center;
    font-size: 19px;
}

#sec_01 ul {
    display: flex;
    justify-content: space-between;
}

#sec_01 ul li {
    width: 33.33%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 15px 10px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    border: 1px solid #4dbbaa;
}

#sec_01 .sec01_left>ul li:hover {
    background: #4dbbaa;
}

#sec_01 .sec01_rig>ul li:hover {
    background: #d77946;
}

#sec_01 .sec01_left>ul li:hover a p,
#sec_01 .sec01_rig>ul li:hover a p {
    color: #fff;
}

#sec_01 ul li a p {
    font-weight: 400;
    text-align: center;
}

#sec_01 .sec01_left ul li a p {
    color: #13927E;

}
#sec_01 .sec01_rig ul li{
    border: 1px solid #d4520c;
}
#sec_01 .sec01_rig ul li a p {
    color: #d4520c;
}

.sec01_rig h1 {
    color: #000;
    text-align: center;
    font-size: 18px;
}

#sec_01 ul li figure {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 45px;
    height: 40px;
}

.material-symbols-outlined {
    font-size: 26px !important;
    background: #f5f5f5;
    border-radius: 50%;
    padding: 8px;
    color: #000;
}

#sec_01 ul li figure img {
    width: 100%;
}


/* sec_02  */
#tab_container {
    margin-top: 100px;
}

.tab_tit {
    display: flex;
    justify-content: center;
}

.tab_tit h2 {
    color: #000;
}

.tab_btn {
    display: flex;
    justify-content: space-between;
    background: #F6F6F6;
    border-radius: 10px;
    line-height: 40px;
    width: 500px;
    padding: 10px;
    /* border-bottom: 2px solid #57927e;; */
    /* box-shadow: 0 0 3px #565858; */
    /* border: 1px solid #13927E; */
}

.tab_btn li{
    width: 33.333%;
    margin-right: 30px;
}
.tab_btn li:last-child{
    margin-right: 0;;
}
.tab_btn li a {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
    padding: 5px;
    color: #000;
}

.tab_btn li.on a {
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 3px 3px 3px rgba(160, 160, 160, 0.686);
    background: #e17f37;
}


/* .tab_btn li:first-child.on a {
    background: #838BD0;
}

.tab_btn li:nth-child(2).on a {
    background: #5199DD;
}

.tab_btn li:nth-child(3).on a {

    background: #e36b38;
} */

.tab_body {
    border-radius: 10px;
    margin-top: 30px;
}
.border2{
    background: #F6F6F6;
}

.tab_body>div {
    padding: 10px;
    line-height: 1.6em;
    
    border-radius: 10px;
    /* box-shadow: 0 0 2px #57927e; */
} 

/* .tab_body > div:first-child{
    background: #efb69e
} */

.tab_body>div>h3 {
    text-align: center;
    padding: 30px 0 30px 0px;
    font-size: 23px;
    color: #000;
    font-weight: 400;
}

.tab_body>div>ul {
    display: flex;
    /* justify-content: space-between; */
}

.tab_body>div>ul li {
    width: 15.66%;
    margin-right: 1%;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

/* hover 테두리 */
.tab_body>div>ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border: 2px solid #838BD0;
    z-index: 0;
    opacity: 0;
    border-radius: 20px;
    transition: 0.2s;
}

.tab_body>div>ul li:hover::after {
    opacity: 1;
}
.tab_body>div>ul li figure{
    overflow:hidden ;  
}
.tab_body>div>ul li figure img{
    transition: 0.3s;
}
.tab_body>div>ul li:hover figure img{
    scale: 1.1;
}

.tab_body>.card_box>ul li::after {
    border: 2px solid #5199DD;

}

.tab_body>.post_box>ul li::after {
    border: 2px solid #e36b38;

}

.tab_body>div>ul li:last-child {
    margin-right: 0;
}

.tab_body>div>ul li a {
    position: relative;
    z-index: 1;
}

.tab_body>div>ul li a figure {
    margin-bottom: 20px;
    width: 100%;
}

.tab_body>.post_box>ul li a figure {
    height: 170px;
}

.tab_body>div>ul li figure img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.tab_body>div>ul li a .pro_name {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #efefef;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tab_body>div>ul li a .pro_pri {
    margin-top: 10px;
    text-align: center;
}

.tab_body>div>ul li a .pro_pri span:first-child {
    color: #999;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: line-through;
}


/* .tab_body>.pro_box>ul li a .pro_pri span:last-child {
    font-weight: 400;
    color: #838BD0;
}

.tab_body>.card_box>ul li a .pro_pri span:last-child {
    font-weight: 400;
    color: #5199DD;
} */

.tab_body>div>ul li a .pro_pri span:last-child {
    font-weight: 400;
    color: #e36b38;
}

/* .tab_body > div > ul li:hover{
    border: 2px solid #838BD0; 
    border-radius: 10px;    
} */

/* card 탭////////// */
.tab_body>.card_box>ul,
.tab_body>.post_box>ul {
    justify-content: center;
}



/* sec_03/////////////////////////// */

#sec_03 {
    overflow: hidden;  
}
.bg{
    background: #e17f37;
    /* border-top: 2px solid #e17f37;
    border-bottom: 2px solid #e17f37; */
}
h2.sec03 {
    color: #000;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

#sec_03 .service_area ul {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;

}

#sec_03 .service_area ul li {
    width: 15.666%;
    margin-right: 1%;
    text-align: center;
    
    border: 1px solid #ee2e242d;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
}

#sec_03 .service_area ul li:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 3px #cbcbcb;
}

#sec_03 .service_area ul li:last-child {
    margin-right: 0;
}
#sec_03 .service_area ul li a{
    display: block;
    padding: 30px 10px;
}

#sec_03 .service_area ul li figure {
    text-indent: -999px;
    width: 40px;
    height: 40px;
    background: url(../img/main_service_ico.png);
    background-size: 518px;
    margin: 0 auto;
    scale: 1.3;
}

#sec_03 .service_area ul .serv_01 figure {
    background-position: 0 0;
}

#sec_03 .service_area ul .serv_02 figure {
    background-position: -40px 0;
}

#sec_03 .service_area ul .serv_03 figure {
    background-position: -80px 0;
}

#sec_03 .service_area ul .serv_04 figure {
    background-position: -120px 0;
}

#sec_03 .service_area ul .serv_05 figure {
    background-position: -160px 0;
}

#sec_03 .service_area ul .serv_06 figure {
    background-position: -200px 0;
}

#sec_03 .service_area ul li p {
    padding-top: 30px;
    font-weight: 500;
    color: #000;
}

/* sec04////////////////////////// */

#sec_04 .service_wrap {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
}

#sec_04 .service_wrap ul {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #c9a689;
    padding: 10px 5px 4px 5px;
}

.service_link:first-child {
    padding-right: 45px;
    border-right: 1px solid #e2e2e2;
}

.service_link:last-child {
    padding-left: 45px;
}

.service_link {
    width: 50%;
}
#sec_04 .service_link li img{
    transition: 0.3s;
}

 

.service_link h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #111111;
    letter-spacing: -1px;
    line-height: 1;
}

#sec_04 h2 {
    text-align: center;
    color: #000;
    padding: 50px;
}

#sec_04 .event_ban {
    display: flex;
    justify-content: space-between;
}

#sec_04 div figure {
    width: 32.33%;
    margin-right: 1%;
}

#sec_04 div figure:last-child {
    margin-right: 0;
}

#sec_04 div figure img {
    width: 100%;
    border-radius: 10px;
}
.material-symbols-outlined.event_btn{
    display: none;
}












/*footer//////////////////////////  */

/* footer {
    margin-top: 100px;
    background: #f3fcec;
    position: relative;
    padding: 0 0 70px;
    width: 100%;
}

#footer .wav_path{
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 100%;
}
 */


footer {
    margin-top: 250px;
    background: #f3fcec;
    position: relative;
}

.wave {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: auto;
}

footer .wave path {
    fill: #f3fcec;
}


footer .row_c {
    position: relative;
}

footer>div {
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

footer>.row_c {
    flex-direction: column;

}

.foot_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot_logo {
    justify-content: left;
    display: flex;
    align-items: center;
}

.foot_logo figure {
    width: 50px;
}

.foot_logo figure img {
    width: 100%;
}

.foot_logo span {
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 3px;
    color: #000;
    font-weight: 400;
    padding-bottom: 5px;
}

.foot_box {
    text-align: center;
}

.foot_list {
    display: flex;
    justify-content: center;
    position: relative;
}

.foot_list li {
    padding: 0 20px;
    font-size: 15px;
    color: #000;
    font-weight: 400;

}

.foot_list li::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #a8a8a8;
    margin-left: 20px;
}

.foot_list li:last-child::after {
    display: none;
}

.foot_text {
    padding-top: 30px;
}

.foot_text li {
    font-size: 14px;
    padding: 3px;
}

.mark_box {
    display: flex;
    justify-content: right;
}

.foot_text li {
    padding: 5px;
}

@media screen and (max-width:1000px) {

    #logo {
        margin-left: 20px;
    }

    #mb_navi .main_navi {
        display: block;
    }


    #mb_navi_bg {
        display: block;
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #fffefc;
        z-index: 999;
    }

    /* 모바일메뉴 */
    #mb_navi {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .mb_navi_wrap {
        overflow: auto;
        height: 100%;
    }

    .main_navi {
        padding-top: 50px;
    }

    .mb_navi_wrap .main_navi>li {
        width: 100%;
        text-align: left;
    }

    .mb_navi_wrap .main_navi>li>a {
        display: block;
        padding-left: 30px;
        height: 80px;
        line-height: 80px;
        font-size: 20px;
        font-weight: 500;
        color: #000;
        background: url(../img/plus.png) no-repeat 270px 42px;
        background-size: 18px;
        text-align: left;
    }

    .mb_navi_wrap .main_navi>li>a:hover {
        color: #ed1a3b;
    }

    .mb_navi_wrap .main_navi>li>a.selected {
        background: url(../img/minus.png) no-repeat 270px 42px;
        background-size: 18px;
    }

    .mb_navi_wrap .main_navi>li .sub_navi {
        display: none;
    }

    .mb_navi_wrap .main_navi>li .sub_navi ul li a {
        display: block;
        font-size: 17px;
        font-weight: 400;
        height: 45px;
        line-height: 45px;
        text-indent: 50px;
    }

    .mb_navi_wrap .main_navi>li .sub_navi ul li:hover a {
        color: #ed1a3b;
    }

    .menu_trigger {
        display: block;
    }

    #navi_wrap .h_bottom {
        border: none;
    }

    #navi_wrap .main_navi {
        display: none;
    } 

    .link_list {
        display: none;
    }

    #navi_wrap .search {
        margin-right: 100px;
    }

    header {
        position: relative;
    }

    .menu_trigger {
        position: absolute;
        top: 47px;
        right: 20px;
    }

    /* .menu_trigger span { 
        background: #ee2e24;       
    } */

    .menu_trigger:before,
    .menu_trigger:after {
        background: #ee2e24;
    }

    #slide {
        display: block;
        height: auto;
        margin-top: 30px;
    }

    .sec01_box {
        display: flex;
        justify-content: space-around;
    }

    .s_left {
        width: 90%;
    }

    .s_rig {
        margin-top: 30px;
        width: auto;
    }

    .sec01_box .sec01_left {
        width: 48%;
    }

    .sec01_box .sec01_rig {
        width: 48%;
    }

    .swiper-slide img {
        /* height: 350px; */
    }
    .swiper-slide{
        height: auto !important;
    }

    #sec_01 ul li {
        height: 100px;
    }

    #sec_01 .sec01_left ul li a p {
        margin-top: 20px;
    }

    #sec_01 .sec01_rig ul li a p {
        margin-top: 20px;
    }

    #sec_03 {
        margin-top: 50px;
    }
    #sec_03 .service_area ul{
        padding: 30px;
    }
    .tab_body>div>ul {
        flex-wrap: wrap;
        padding: 0 50px 50px 50px;
    }

    .tab_body>div>ul li {
        width: 32.66%;
        padding: 5px;
    }

    .tab_body>div>ul li:nth-child(3) {
        margin-right: 0;
    }

    #sec_04 {
        margin-top: 0;
    }

    footer {
        margin-top: 150px;
    }

    .foot_list {
        margin-top: 20px;
    }

    .foot_list li {
        padding: 0 13px;
    }

    .foot_list li::after {
        margin-left: 12px;
    }
}
@media screen and (max-width:885px) {
    #sec_03 .service_area ul{
        padding: 10px;
    }
    #sec_04 div figure{
        width: 50%;
    }
    #sec_04 div figure:last-child{
        display: none;
    }
}

@media screen and (max-width:825px) {
    .sec01_box {
        display: block;
    }
    .sec01_box .sec01_left,
    .sec01_box .sec01_rig {
        width: 90%;
        margin: 0 auto;
    }
    
    #sec_03 .service_area ul {
        flex-wrap: wrap;
        padding: 30px;
    }

    #sec_03 .service_area ul li {
        width: 27%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:789px) {
    .search {
        display: none;
    }

    #sec_03 .service_area ul {
        padding: 20px;
    }

    #sec_03 .service_area ul li {
        padding: 10px;
    }

    #sec_03 .service_area ul li p {
        padding-top: 10px;
    }

    .tab_body>div>ul {
        flex-wrap: wrap;
        padding: 0px 10px 10px 10px;
    }

    .service_link:first-child {
        padding: 0 20px 0;
    }

    .service_link:last-child {
        padding: 0 20px 0;
    }

    #sec_04 .service_wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service_link {
        width: 100%;
        box-sizing: border-box;
    }

    .service_link:first-child {
        border-right: none;
        margin-bottom: 20px;
    }

    #sec_04 h2 {
        padding: 15px;
    }

    #sec_04 .event_ban {
        margin-top: 20px;
    }

    #sec_04 div figure {
        width: 50%;
        margin-bottom: 20px;
    }
    
    footer {
        margin-top: 130px;
    }
    .foot_list{
        display: none;
    }
}

@media screen and (max-width:550px) {
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        left: 43% !important;
    }
    .swiper.pc{
        display: none;
    }
    .swiper.mo{
        display: block;
    }

    /* .swiper-slide img{
        height: 220px;
    } */
    .tab_body>div {
        padding: 0;
    }
    #sec_04 div figure{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0;
    }
    #sec_04 div figure:nth-child(2),#sec_04 div figure:last-child{
        display: none;
    }
    #sec_03 .service_area ul li{
        width: 42%;
    }
    #tab_container {
        margin-top: 60px;
    }
    .tab_btn{
        width: 100%;
    }
    .tab_body>div>ul li{
        width: 49%;
    }
    .tab_body>div>ul li figure img{
        border-radius: 10px;
    }
    .event_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    }
    .material-symbols-outlined.event_btn{
        display: block;
        cursor: pointer;
    }
    #sec_04 .service_link li{
        text-align: center;
    }
    #sec_04 .service_link li img{
        width: 90%;
    }
    footer{
        margin-top: 100px;
    }
    
    .mark_box{
        margin-top: 20px;
    }
    .foot_box{
        text-align: left;
    }
}