@charset "utf-8";

.row_c {
    max-width: 1240px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 50px;
}

.menu_bar {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 100;
    border: none;
    cursor: pointer;
}

header .menu_bar span {
    display: block;
    position: absolute;
    left: 0;
    background: #000;
    width: 30px;
    height: 2px;
}

.menu_bar span:nth-child(1) {
    top: 9px;
}

.menu_bar span:nth-child(2) {
    top: 18px;
    width: 20px;

}

.menu_bar span:nth-child(3) {
    top: 28px;
    width: 12px;
}

.menu_bar span:nth-child(1).active {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translatey(10px) rotate(-45deg);
    width: 30px;
}

.menu_bar span:nth-child(2).active {
    opacity: 0;
}

.menu_bar span:nth-child(3).active {
    -webkit-transform: translateY(-3px) rotate(45deg);
    transform: translatey(-8px) rotate(45deg);
    width: 30px;
}


.bg_black {
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0.7;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.bg_black.active {
    display: block;
}

#menu {
    display: none;
    height: 100vh;
    background: white;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#menu.active {
    display: block;
}

#menu ul {
    padding: 130px 50px 40px;
}

#menu>ul>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu>ul>li a:hover {
    color: #9f4312;
}

#menu>ul>li,
.products>ul>li,
.submenu>li {
    margin-bottom: 20px;
}

.submenu {
    display: none;
    position: absolute;
    width: 380px;
    top: 0;
    left: 300px;
    background-color: #fff;
    height: 100vh;
    transition: width 2s;
    box-sizing: border-box;
}

.submenu.on {
    display: block;
}

.submenu>li {
    margin-bottom: 20px;
}


/* sec01 //////////////////////////////// */
#sec01 .sec01_text {
    display: inline-block;
    width: 50%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: calc(50vh - 97px);
    /* padding-left: 100px; */
    margin-top: -100px;
}

#sec01 .sec01_text figure {
    width: 350px;
    margin: 0 auto;
}

#sec01 .sec01_text figure img {
    width: 100%;
    vertical-align: top;

}

#sec01 .sec01_text p {
    padding-top: 30px;
    text-align: center;
    color: #231816;
    font-size: 30px;
}

.sec01_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 100vh;
    height: 100%;
    background: url(../img/main_06.jpg) no-repeat fixed center /contain;
    background-position: 50vw top;
}



/* sec02 */
#sec02 {
    position: relative;
    height: 850px;
}

#sec02 figure {
    height: 100%;

}

#sec02 figure img {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
}

#sec02 .sec02_text {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #fff;
}

#sec02 h2 {
    font-size: 52px;
    margin-bottom: 20px;
}

#sec02 .sec02_text p {
    font-size: 23px;

}
#sec02 .sec02_text{
    padding: 0 20px;
    box-sizing: border-box;
}

#sec02 button {
    width: 180px;
    background: transparent;
    margin-top: 50px;
    border: 2px solid white;
    cursor: pointer;
}

#sec02 button a {
    height: 45px;
    line-height: 45px;
    display: block;
    color: #fff;
    position: relative;
    font-size: 20px;
}

#sec02 button a::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    background-color: #604a3e;
    width: 0%;
    height: 100%;
}

#sec02 button a:hover::after {
    width: 100%;
    transition: width 0.5s ease;
    z-index: -1;
}



#sec03 {
    margin-bottom: 350px;
    overflow: hidden;
}

.sec03_img {
    display: flex;
}

.sec03_img p:last-child {
    margin: 20px;
}

.sec03_box {
    margin-top: 100px;
}

.sec01_ani {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    color: #000000;
}

.sec01_ani .ani-wrap {
    animation: scroll infinite linear 9s;
    font-size: 100px;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.6);
    font-family: "Playwrite CU", cursive;
    letter-spacing: 30px;
    text-transform: uppercase;
}


@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);

    }
}

.sec03_box .sec03_cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -100px;
}

.sec03_box .sec03_cont div {
    margin-top: 50px;
}

.sec03_box .sec03_cont figure {
    position: relative;
    width: 500px;
}

.sec03_box .sec03_cont figure img {
    width: 100%;
    border-radius: 0 20% 0 20%;
    margin-right: 30px;
}

.sec03_box .sec03_cont div p:first-child {
    position: relative;
    animation: txt_up 1s;
    animation-delay: 0.3s;
    margin-bottom: 50px;
}


.sec03_box .sec03_cont div p:last-child {
    animation: txt_up 1s;
    color: #9a9a9a;
    animation-delay: 1s;
    font-size: 25px;
}
.sec03_box .sec03_cont div p span {
    display: block;
}


@keyframes txt_up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* 상품 슬라이드/////////////////////////////// */
/* .swiper{
    background: #e9dfda57;
} */
.slide_box {
    display: flex;
    justify-content: center;
}

.slide_box figure {
    /* width: 30%; */
    margin-right: 10%;

}

.slide_box figure img {
    width: 100%;
}

/* .slide_box {
    width: 60%;
} */

.slide_box h2 {
    font-size: 40px;
    font-weight: 400;
    color: #3F280D;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* .slide_box .txts {
    margin-top: -30px;
} */

.slide_box .txts strong {
    color: #222;
    font-size: 48px;
}


.slide_box .txts>span {
    display: block;
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 500;
    color: #a8a8a8;

}

.slide_box .txts p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 80px;
}

.slide_box .txts a {
    margin-left: 20px;
}

.slide_box .txts a span:first-child {
    font-size: 22px;
    color: #000;
    position: relative;
    font-weight: 400;
    margin-right: 10px;
}

.slide_box .txts a span:last-child {
    font-size: 22px;
    color: #A4A4A4;
    position: relative;
    font-weight: 300;
}

.slide_box .txts a span:first-child::before {
    content: "";
    position: absolute;
    left: -15px;
    top: -11px;
    z-index: 999;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #dfada3;
    z-index: -1;
}

.swiper-wrapper {
    padding-bottom: 150px;
}

.sw1 {
    background: linear-gradient(#fff 38%, #302314 35%);
}

.swiper-button-next,
.swiper-button-prev {
    top: 450px;
    color: transparent;
    width: 50px;
    height: 20px;

}

.swiper-button-next {
    right: 190px;
    border-bottom: 3px solid #dbc7ae;
    border-right: 3px solid #dbc7ae;
    transform: skewX(40deg);

}

.swiper-button-prev {
    top: 475px;
    left: auto;
    right: 250px;
    border-top: 3px solid #dbc7ae;
    border-left: 3px solid #dbc7ae;
    transform: skewX(210deg);
}

/* sec04 ///////////////////////////////////////////// */

#sec04 figure {
    width: 100%;
}

#sec04 figure img {
    width: 100%;
    vertical-align: top;
}

#sec05 {
    overflow: hidden;
}

#sec05 ul {
    background: url(../img/sec_05bg.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;

}

#sec05 li {
    padding: 200px 0;

}

#sec05 li:first-child {
    margin-right: 50px;
}

#sec05 li figure {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

#sec05 li img {
    width: 100%;
    border: 2px solid #fff;
}

#sec05 li .sec05_txt {
    position: absolute;
    top: 20%;
    left: 13%;
}

.sec05_txt strong {
    font-size: 22px;

}

.sec05_txt p {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
}

#sec05 ul li:last-child .sec05_txt strong {
    color: #b09176;
}

#sec05 ul li:last-child .sec05_txt p {
    color: #fff;
}

.sec05_txt button {
    width: 180px;
    background: transparent;
    margin-top: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.sec05_txt a {
    font-size: 20px;
    color: #bdbdbd;
    margin-left: 3px;
}
.sec05_txt span {
    font-size: 20px;
}

footer {
    background: #312211;
}


footer>div {
    background: #312211;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    font-size: 20px;
}

footer .logo {
    width: 200px;
    margin-right: 3%;
}

footer .logo img {
    width: 100%;
}


footer>div {
    color: #9e9e9e;
    margin-top: 50px;
}

.f_icon ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.f_icon ul span {
    color: #9e9e9e;
    margin-right: 20px;
}

.f_icon ul li i {
    color: #9e9e9e;
    font-size: 25px;
    margin-right: 20px;
}



/* 애니메이션 정리/////////////////////////////////// */
.scroll_wrap {
    overflow: hidden;
}

.scroll_wrap {
    overflow: hidden;
}

.scroll_on {
    opacity: 0;
    transition: all 1s;
}

.scroll_on.active {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}

.scroll_on.type_top {
    transform: translate(0, -100px);
}

.scroll_on.type_bottom {
    transform: translate(0, 100px);
}

.scroll_on.type_left {
    transform: translate(-100px, 0);
}

.scroll_on.type_right {
    transform: translate(100px, 0);
}

@media screen and (max-width:1345px) {
    .slide_box figure {
        margin-right: 5%;
    }

    .slide_box .txts strong {
        font-size: 35px;
    }
}

@media screen and (max-width:1150px) {
    #sec01 .sec01_text {
        padding-top: 100px;
        width: 100%;
        padding-left: 0;
    }

    .sec01_img {
        top: 35%;
        width: 100%;
        background-position: 0 13vh;
        background-size: cover;
    }
    #sec02 figure{
        overflow: hidden;
    }
    #sec02 figure img {
        width: auto;
    }

    .slide_box {
        display: block;
    }

    .slide_box figure {
        width: 50%;
        margin: 0 auto;
    }

    .txts {
        margin-top: 30px;
        text-align: center;
    }

    .slide_box h2 {
        color: #dbc7ae;
    }

    .slide_box .txts strong {
        color: #dfada3;
        font-size: 30px;
    }

    .sw1 {
        position: relative;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: auto;
        bottom: 130px;
        z-index: 999;
    }

    .swiper-button-next {
        right: 50px;
    }

    .swiper-button-prev {
        left: 50px;
    }

    /* .sec03_box .sec03_cont figure {
       display: none;
    } */
    .sec03_box .sec03_cont {
        padding-bottom: 100px;
        display: block;
        margin-top: -20px;
    }
    #sec03 {
        margin-bottom: 100px;
    }

    .sec05_txt p {
        font-size: 28px;
    }

    .sec03_box .sec03_cont div {
        text-align: center;
    }

    .sec03_img {
        justify-content: center;
    }

    .sec03_box .sec03_cont figure {
        margin: 50px auto 0;
    }

    .sw1 {
        background: linear-gradient(#fff 22%, #302314 22%);
    }
}

@media screen and (max-width:905px) {
    #sec02 .sec02_text{
        top: 30%;
    }
    
    .sec03_box .sec03_cont figure img {
        border-radius: 50%;
    }
    #sec05 ul {
        display: block;
    }

    #sec05 li {
        padding: 50px 0;
        /* width: 60%; */
        margin: 0 auto;
    }

    #sec05 li:last-child {
        padding-top: 0;
        /* width: 60%; */
        margin: 0 auto;
    }

    #sec05 li:first-child {
        margin-right: 0;
    }

    #sec05 li figure {
        width: 70%;
    }

    .f_icon {
        display: none;
    }

}

@media screen and (max-width:750px) {
    .sec01_img {
        background: url(../img/main_06_mobile.png) no-repeat fixed center / contain;
        background-position: 0 23vh;
    }

    .slide_box figure {
        width: 70%;
    }

    #sec04 {
        display: none;
    }

    .sec03_box .sec03_cont figure {
        width: 80%;
    }

    .sec01_ani .ani-wrap {
        font-size: 38px;
        font-weight: bold;
        color: rgba(245, 245, 245);
        letter-spacing: 15px;
    }
    #sec02 .sec02_text p {
        display: inline;
    }
    #sec02 .sec02_text{
        padding: 0 20px;
    }
}

@media screen and (max-width:590px) {
    .sec01_img {
        background-position: 0 36vh;
    }
    .slide_box .txts strong {
        font-size: 25px;
    }

    .slide_box .txts>span {
        font-size: 16px;
        font-weight: 300;
    }

    .slide_box .txts p {
        font-size: 17px;
    }
    .slide_box .txts>span {
        font-weight: 400;
    }

    .slide_box .txts>span {
        margin-bottom: 30px;
    }

    .slide_box .txts p {

        margin-bottom: 50px;
    }
    #sec05 li {
        padding: 30px 0;
    }

    #sec05 li figure {
        width: 85%;
    }
    .sec05_txt p {
        margin-top: 11px;
    }

    .sec05_txt p {
        font-size: 20px;
    }
    footer>div {
        display: block;

    }
        
    footer .logo {
        margin: 0 auto;
    }

    footer>div>div {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
    }


}



@media screen and (max-width:490px) {
    header {
        padding: 15px;
    }

    .sec01_img {
        background-position: 0 33vh;
    }

    #sec01 .sec01_text {
        padding-top: 67px;
    }

    #sec02 h2 {
        font-size: 30px;
    }

    #sec02 {
        height: 500px;
    }
    #sec02 .sec02_text p{
        font-size: 18px;
    }

    #sec02 p span{display: block;}

    #sec02 button {
        margin-top: 30px;
    }

    #sec02 .sec02_text {
        top: 15%;
    }
    .sec03_box .sec03_cont div p:last-child{
        font-size: 18px;
    }

    /* #sec02 figure{
        height: 60%;
    }
    #sec02 figure img{
        height: 100%;
    } */


    .sec03_box .sec03_cont div {
        padding: 10px;
    }

    .sec03_box .sec03_cont div>.sec03_img p:first-child {
        width: 80%;
    }

    .sec03_box .sec03_cont div>.sec03_img p:first-child img {
        width: 100%;
    }

    .sec03_box .sec03_cont div>.sec03_img p:last-child {
        width: 10%;
        font-size: 18px;
    }

    .sec03_box .sec03_cont div>.sec03_img p:last-child img {
        width: 100%;
    }

    .sec03_box .sec03_cont div {
        margin-top: 0;
    }

    .sec03_txt {
        padding: 0 20px;
    }



    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 15px;
        bottom: 50px;
    }

    #sec05 li .sec05_txt {
        top: 11%;
    }

    .txts {
        padding: 0 15px;
    }

    .sec05_txt p {
        font-size: 23px;
    }


    .sec03_box .sec03_cont figure {
        width: 85%;

    }

    .swiper-wrapper {
        padding-bottom: 50px;
    }



}



@media screen and (max-width:410px) {
    #sec01 .sec01_text figure {
        width: 250px;
        margin: 0 auto;
    }

    #sec01 .sec01_text p {
        padding-top: 20px;
        font-size: 20px;
    }

    .slide_box figure {
        width: 80%;
    }

    .slide_box figure img {
        border-radius: 30px 0 30px 0;
    }

    .sw1 {
        padding-top: 50px;
        background: #302314;
    }

    .slide_box h2 {
        font-size: 35px;
        margin-bottom: 19px;
    }

    .slide_box .txts strong {
        font-size: 22px;
        font-weight: 400;
    }

    .sec03_box {
        margin-top: 50px;
    }

    .sec03_box .sec03_cont {
        margin-top: 30px;
    }

    #sec02 p {
        font-size: 16px;
    }

    #sec02 button {
        margin-top: 30px;
    }

    .sec03_box .sec03_cont div p:last-child {
        font-size: 17px;
    }
    footer>div{
        font-size: 16px;
    }


}