@charset "utf-8";

/* 해당 메뉴 활성화 */
#sub_menu dl dd:nth-child(2) a {
    display: block;
    background: #E4F2FF;
    color: #000;
    font-weight: 400;
}

/* common 가로사이즈 수정 */
#sub_menu dl dt,
#sub_menu dl dd {
    width: 33.333%;
}


/* 공지사항 시작//////////////////////// */
#notice{
    margin-bottom: 50px;
}
#notice .notice_wrap > p {
    text-align: right;
    margin-bottom: 50px;
    margin-right: 20px;
}
#notice h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
    color: #333;
    margin-bottom: 50px;
}
#notice h3{
    text-align: center;
    color: #91a6b1;
    margin-bottom: 30px;
}

.notice_list{
    min-height: 500px;
}



/* 반응형 스타일 /////////////////////////// */

@media screen and (max-width:620px){
    #sub_menu dl dt{
        width: 100%;
    }
    #sub_menu dl dd{
        width: 50%;       
    }
    #happy_label{
        padding-top: 0 !important;
    }
  
    #sub_menu{
        padding-top: 70px;
    }
    .hx a {
        font-size: 20px;
    }
    .sh select {
        width: 92px;
    }
  
}

